asn1crypto==0.24.0
awscli==1.16.166
boto3==1.9.104
botocore==1.12.104
cffi==1.12.3
colorama==0.3.9
cryptography==2.6.1
Django==2.2.10
django-mfa2==1.2.1
docutils==0.14
ecdsa==0.13.2
fido2==0.5.0
future==0.17.1
jmespath==0.9.4
jsonfield==2.0.2
jsonLookup==0.5.2
mysqlclient==1.4.2.post1
pkg-resources==0.0.0
pyasn1==0.4.5
pycparser==2.19
pyotp==2.2.7
python-dateutil==2.8.0
python-jose==3.0.1
python-u2flib-server==5.0.0
pytz==2018.9
PyYAML==5.1
rsa==3.4.2
s3transfer==0.2.0
simplejson==3.16.0
six==1.12.0
sqlparse==0.3.0
ua-parser==0.8.0
urllib3==1.24.2
user-agents==2.0
