{% load static  %}
<!DOCTYPE HTML>
<html>
<head>
<title>About us</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Custom Theme files -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Learning  Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Marvel:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Roboto:400,300,500,700,900' rel='stylesheet' type='text/css'>
<!--google fonts-->
<script src="{% static 'js/jquery-1.11.0.min.js"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/colorfulTab.min.css' %}">
</head>
<body>
<!--header strat here-->
<div class="banner1 agileits">
	<div class="header">
		<div class="container">
			<div class="header-main">
				<div class="logo">
			       <h1><span class="books"></span> <a href="/">KNIT ATTENDANCE</a></h1>
			    </div>
				 <div class="top-nav">
				 	 <span class="menu"> <img src="{% static 'images/icon.png' %}" alt=""></span>
				     <nav class="cl-effect-21" id="cl-effect-21">   		       											
							<ul class="res">
								<li><a href="/" class="active">Home</a></li>
								<li><a href="/login">Login</a></li>	
								<li><a href="/about">About</a></li>						
								
								
													
							</ul>
						</nav>
						<!-- script-for-menu -->
										 <script>
										   $( "span.menu" ).click(function() {
											 $( "ul.res" ).slideToggle( 300, function() {
											 // Animation complete.
											  });
											 });
										</script>
						<!-- /script-for-menu -->
		
				 </div>
				<div class="clearfix"> </div>
			</div>			
	    </div>
   </div>
</div>
<!--header end here-->
<!--banner end here-->
<!--tab start here-->
<script type="text/javascript" src="{% static 'js/colorfulTab.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        
        $("#colorful").colorfulTab();    
        
        $("#colorful-elliptic").colorfulTab({
            theme: "elliptic"
        }); 
       
       $("#colorful-flatline").colorfulTab({
            theme: "flatline"
        });    
        
        $("#colorful-background-image").colorfulTab({
            theme: "flatline",
            backgroundImage: "true",
            overlayColor: "#002F68",
            overlayOpacity: "0.8"
        });   
    
    });
  </script>

<!--about end here-->
<!--about layer1-->
<div class="about-layer1">
	<div class="container">
		<div class="about-agile">
			<h4> </h4>
			<p></p>
			<p> </p>
		</div>
	</div>
</div>
<!--about layer1-->
<!--team start here-->
<div class="team">
	<div class="container">
		<div class="team-main">
			  <div class="team-top">
			  	<h3>Faculty</h3>
			  </div>
              <div class="team-bottom">
                <div class="col-md-3 agileinfo">
                  <!-- normal -->
                  <div class="ih-item circle effect13 bottom_to_top"><a href="#">
                      <div class="img"><img src="{% static 'images/t1.jpg' %}" alt="img"></div>
                      <div class="info"> 
                        <div class="info-back">
                          <h3>JP PANDEY</h3>
                          <p>Director</p>
                          

                        </div>
                      </div></a></div>
                  <!-- end normal -->
                
                </div>
                <div class="col-md-3 agileinfo">
                  <!-- normal -->
                  <div class="ih-item circle effect13 bottom_to_top"><a href="#">
                      <div class="img"><img src="{% static 'images/t2.jpg' %}" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Prof. Neelendra Badal</h3>
                          <p>Head Of Department</p>
                        </div>
                      </div></a></div>
                  <!-- end normal -->
             
                </div>
                <div class="col-md-3 agileinfo">
                  <!-- normal -->
                  <div class="ih-item circle effect13 bottom_to_top"><a href="#">
                      <div class="img"><img src="{% static 'images/t3.jpg' %}" alt="img"></div>
                      <div class="info">
                        <div class="info-back">
                          <h3>Dr. Aruni Singh</h3>
                          <p>Professor</p>
                        </div>
                      </div></a></div>
                  <!-- end normal -->
                
                </div>
               
                
              </div>
              <!-- end Bottom to top -->
		</div>
	</div>
</div>	
<!--team end here-->
<!--footer start here-->
<div class="footer w3ls">
	<div class="container">
		<div class="footer-main">
			<div class="footer-top">
				
				
						
	
			<div class="footer-bottom">
				<div class="col-md-6 ftr-navg">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/login">Login</a></li>
						<li><a href="/about">About</a></li>
						
						
					</ul>
				</div>
				<div class="col-md-6 copyrights">
					<p>© 2019 KNIT All Rights Reserved. </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>
<!--footer end here-->		
</body>
</html>