<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Attendence</title>
</head>
<body>





<table style="width:100%; text-align:center;" border="1">
    <tr>
          <th>SR. NO.</th>
          <th>ROLL NO.</th>
          <th>NAME</th>
          <th>COMPUTER NETWORK</th>
          <th>COMPILER DESIGN</th>
          <th>WEB TECHNOLOGY</th>
          <th>INDUSTRIAL MANAGEMENT</th>
          <th>COMPUTER GRAPHICS</th>
          <th>TOTAL</th>
    </tr>






<tr>


    <td>{{data.0}}</td>
     <td>{{data.1}}</td>
     <td>{{data.2}}</td>
     <td>{{data.3}}</td>
     <td>{{data.4}}</td>
     <td>{{data.5}}</td>
     <td>{{data.6}}</td>
     <td>{{data.7}}</td>
      <td>{{data.8}}</td>





</tr>


    </table>

</body>
</html>