<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://s3.amazonaws.com/knits3/Login_v2/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/knits3/Login_v2/css/main.css">
<!--===============================================================================================-->

<style type="text/css">
	input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
</style>




</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="">
					{% csrf_token %}
					<span class="login100-form-title p-b-26">
						Welcome
					</span>
					<span class="login100-form-title p-b-48">
						
					</span>



                    
                    <div class="wrap-input100" >
						<span class="btn-show-pass">
							
						</span>
						<input class="input100" type="number" maxlength="6"  name="roll" required onKeyDown="if(this.value.length==6  && event.keyCode!=8) return false;" >
						<span class="focus-input100" data-placeholder="Roll Number"></span>
					</div>







					<div class="wrap-input100 " >
						<input class="input100" type="email" name="email" required>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>


                    

                    <div class="wrap-input100 " data-validate="Enter Mobile Number">
						<span class="btn-show-pass">
							
						</span>
						<input class="input100" type="tel" name="mobile" minlength="10" required>
						<span class="focus-input100" data-placeholder="Mobile Number" ></span>
					</div>






					<div class="wrap-input100 " data-validate="Enter password">
						<span class="btn-show-pass">
							
						</span>
						<input class="input100" type="password" name="pass" id="password" required>
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
                    




                    <div class="wrap-input100 " data-validate="Enter Confirm password">
						<span class="btn-show-pass">
							
						</span>
						<input class="input100" type="password" name="pass" id="confirm_password" required oninput="check(this)" >
						<span class="focus-input100" data-placeholder="Confirm Password"></span>
					</div>


					


					<script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Don’t Match');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>







                



					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Sign Up
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Already have an account?
						</span>

						<a class="txt2" href="/login">
							Login
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/bootstrap/js/popper.js"></script>
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/daterangepicker/moment.min.js"></script>
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/knits3/Login_v2/js/main.js"></script>

</body>
</html>