<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://s3.amazonaws.com/rizwans3/Login_v2/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/rizwans3/Login_v2/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action="" method="post">{% csrf_token %}
					<span class="login100-form-title p-b-26">
						Welcome Teacher Dashboard
					</span>
					<span class="login100-form-title p-b-26" style="color:red;">
						{{error}}


					</span>
					<span class="login100-form-title p-b-48">
						
					</span>

					<div class="wrap-input100 ">
						<input class="input100" type="text" name="user">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							
						</span>
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn">
								Login
							</button>
						</div>
					</div>


                    <div class="text-center p-t-115">
						<span class="txt1">
							Are You Student?
						</span>

						<a class="txt2" href="/login">
							STUDENT LOGIN
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/bootstrap/js/popper.js"></script>
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/daterangepicker/moment.min.js"></script>
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="https://s3.amazonaws.com/rizwans3/Login_v2/js/main.js"></script>

</body>
</html>